* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue";
  font-size: 13px;
  color: black;
}

a {
  display: inline-block;
}

p {
  color: black;
}

header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #ffffff;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container a {
  color: red;
  text-decoration: none;
  margin: 0 15px;
}

.boton {
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
}

.boton.boton-rojo {
  color: white;
  background-color: red;
  font-size: 20px;
  font-weight: bold;
}

header .container .logo {
  width: 150px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

#inicio {
  position: relative;
}

#inicio img {
  width: 100%;
  display: block;
}

#inicio .bloque-inicio {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  text-align: center;
  margin-left: -200px;
}

#inicio .bloque-inicio h1 {
  color: white;
  font-size: 35px;
}

#inicio .bloque-inicio p {
  color: white;
  font-size: 16px;
}
